process.container = 'library://cgroza/collection/graffite:latest'
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '--contain'


params.svim_asm_memory = '180G'
params.svim_asm_threads = '40'


params.make_vcf_memory = '180G'
params.make_vcf_threads = '40'

params.pangenie_memory = '180G'
params.pangenie_threads = '40'

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
    }

    cloud {
        process.executor = 'aws'
    }

}
