manifest.defaultBranch = 'main'
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '--contain --bind $(pwd):/tmp'
nextflow.enable.moduleBinaries = true

profiles {
    standard {
        process.executor = 'local'
        process.container = 'library://cgroza/collection/graffite:latest'
    }

    cluster {
        process.executor = 'slurm'
        process.container = 'library://cgroza/collection/graffite:latest'
        process.scratch = '$SLURM_TMPDIR'
    }

    cloud {
        process.executor = 'aws'
        process.container = 'library://cgroza/collection/graffite:latest'
    }

}

// main parameters
params {
    bams = false
    epigenomes = false
    graffite_vcf   = false
    vcf            = false
    RM_dir         = false // mainly for debug.
    genotype       = true
    graph_method   = "pangenie" // or giraffe or graphaligner
    genotype_with          = "reads.csv"
    longreads      = false // if you want to use sniffles on long read alignments
    assemblies     = false // if you want to use svim-asm on genome alignments
    break_scaffolds     = false // if input assemblies are scaffolds and need to be broken at runs of N
    reference      = "reference.fa"
    TE_library     = "TE_library.fa"
    out            = "out"
    tsd_win        = 30 // add default value for TSD window search
    cores          = false // set to an integer
    mammal         = false
    mini_K         = "500M"
    stSort_m       = "4G"
    stSort_t       = 4
    tsd_batch_size = 100
    asm_divergence = "asm5"
    aligner        = "minimap2" // or winnowmap
    min_mapq             = 0
    min_support          = "2,4"

    // cluster mode parameter
    graph_align_memory   = null
    graph_align_threads  = 1
    graph_align_time    = "12h"
    make_graph_memory    = '40G'
    make_graph_threads   = 1
    make_graph_time      = '6h'
    map_asm_memory = null
    map_asm_threads = 1
    map_asm_time = "3h"
    map_longreads_memory = null
    map_longreads_threads = 1
    map_longreads_time = "12h"
    merge_vcf_memory    = "10G"
    merge_vcf_time    = "1h"
    pangenie_memory      = null
    pangenie_threads     = 1
    pangenie_time       = "12h"
    repeatmasker_memory  = "10G"
    repeatmasker_threads = 1
    repeatmasker_time   = "12h"
    sniffles_memory      = null
    sniffles_threads     = 1
    sniffles_time       = "12h"
    svim_asm_memory      = null
    svim_asm_threads     = 1
    svim_asm_time       = "12h"
    tsd_memory          = "10G"
    tsd_time          = "1h"
    vg_call_memory       = null
    vg_call_threads      = 1
    vg_call_time         = '2h'


    tag = "C+m."
    motif = "CG"
}


process {
    withName: 'bamtags_to_methylation' {
        cpus = 2
        memory = 50.GB
        time = 6.h
        }
    withName: 'methylation_to_csv' {
        cpus = 1
        memory = 60.GB
        time = 6.h
    }
    withName: 'merge_csv' {
        cpus = 1
        memory = 60.GB
        time = 6.h
    }
    withName: 'index_graph' {
        cpus = 1
        memory = 40.GB
        time = 6.h
    }
    withName: 'annotate_vcf' {
        cpus = 1
        memory = 40.GB
        time = 6.h
    }
}